/*#logo {
  font-family: 'Comfortaa', cursive;
  color:white
}*/
* {
	outline: none;
}

html, body {
  width:100%;
  height:100%;
  margin:0px;
}
h1{
  color: white;
  font-size: 55px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  margin: 0px;
}
h2{
  color: white;
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  margin: 0px;
}
h3{
  color: white;
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
}
h4{
  color: white;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
  font-weight: lighter;
}
h5{
  color: white;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  margin: 0px;
  font-weight: bolder;
  line-height: 2.0;
}
h6{
  color: white;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  margin: 0px;
  padding-bottom: 15px;
  font-weight: lighter;
}
h7{
  color: white;
  font-size: 10px;
  font-family: 'Exo 2', sans-serif;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: lighter;
}
p{
  color: white;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  line-height: 1.6;
}
li{
  margin-bottom: 15px;
}
table{
  width: 1000px;
  height: 250px;
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: 'Arial', sans-serif;
}
caption{
  text-align: left;
  color: white;
  font-size: 25px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
}
#sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding-top: 20px;
  overflow-x: hidden;
  padding-left: 20px;
  /* background-color: rgba(255, 255, 0, 0.651); */
}
#sidenav_container{
  position: relative;
  margin: auto;
}
#backbutton{
  margin-bottom: 10px;
}
#navwrapper {
  width: 75px;
  margin: auto;
}
#wrapper {
  width: 1000px;
  margin: auto;
  background-color: black;
}
#stwrapper {
  width: 800px;
  /* margin-left: 200px; */
  margin: auto;
  background-color: black;
}
body {
  background-image: url(./starfield-banner.jpg);
}
#logo {
  width: 100%;
  height: auto;
  background-color: black;
}
#stlogo{
  margin-left: 7px;
  margin-bottom: 20px;
}
#atomlogo {
  margin: 20px 20px 0px 30px;
  float: left;
}
#header1 {
  width: 100%;
  padding-top: 20px;
  /*background-color: blue;*/
}
#titlecontainer{
  width: 80%;
  height: auto;
  padding-top: 30px;
  float: left;
}
#title1 {
  width: auto;
  color: white;
  /* font-size: 65px; */
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  float: left;
  margin: 0px;
  /*background-color: blue;*/
}
#title2 {
  width: 80%;
  padding-top: 0px;
  color: white;
  font-size: 50px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  letter-spacing: 6px;
  margin: 0px;
  /*background-color: blue;*/
}
#cvd {
  width: auto;
  color: rgb(255, 0, 64);
  /* font-size: 65px; */
  font-size: 40px;
  font-family: 'Dosis', sans-serif;
  font-weight: lighter;
  float: left;
  margin: 0px;
  /*background-color: blue;*/
}
#subheader {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 40px;
  /*background-color: pink;*/
}
#graph{
  width: 1000px;
  height: 700px;
  /* background-color: magenta; */
}
#stgraph{
  width: 800px;
  height: 500px;
  /* background-color: magenta; */
}
#stgraphtext{
  width: 100%;
  margin: 30px 0px 10px 0px;
}
#ytext{
  width: 130px;
  height: 500px;
  line-height: 500px;
  text-align: right;
  float: left;
  margin-right: 10px;
  /* background-color: blue; */
}
#xtext {
  margin: auto;
  width: 700px;
  height: 50px;
  margin-top: 10px;
  /* background-color: khaki; */
}
#xtext_container {
  width: 1000px;
  height: 100px;
  /* background-color: lawngreen; */
}
#plot{
  height: 500px;
  width: 700px;
  float: left;
  /* background-color: grey; */
}
#stplot{
  height: 500px;
  width: 700px;
  float: left;
  /* background-color: grey; */
}
#stplotleft{
  width: 50px;
  height: 509px;
  float: left;
  /* background-color: rgba(145, 202, 255, 0.397); */
}
#plotright {
  height: 500px;
  width: 150px;
  float: left;
  /* background-color: green; */
}
#stplotright{
  height: 509px;
  width: 50px;
  float: left;
  /* background-color: rgba(145, 202, 255, 0.397); */
}
#plotdscrp{
  width: 100%;
  height: 50px;
  margin: 20px 0px 10px 0px;
}
#pgindwrapper{
  width: 100px;
  margin: auto;
  background-color: black;
}
#pgind{
  width: 100%;
  height: 15px;
  margin: 20px 0px 0px 0px;
  background-color: rgba(145, 202, 255, 0.397);
}
#header2{
  width: 100%;
  margin: 50px 0px 30px 0px;
}
#subdscrp{
  color: white;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
  margin: 30px 0px 25px 0px;
  /*background-color: blue;*/
}
#stdscrpwrapper{
  width: 700px;
  margin: auto;
}
#subbody{
  width: 100%;
  margin: 30px 0px 10px 0px;
  color: white;
  font-size: 15px;
  font-family: 'Exo 2', sans-serif;
}
#header3{
  width: 100%;
  margin: 50px 0px 50px 0px;
}
#reclist{
  color: white;
  font-size: 17px;
  font-family: 'Exo 2', sans-serif;
  margin: 10px 0px 10px 0px;
  /*background-color: blue;*/
}
#stlist{
  color: white;
}
#intextsource{
  color: gray;
}
#sourcebar{
  width: 100%;
  height: 300px;
  margin: 50px 0px 7px 0px;
  padding-top: 20px;
  background-color: rgba(71, 71, 71, 0.726);
}
#srcwrapper {
  width: 1000px;
  margin: auto;
}
#strip{
  width: 100%;
  height: 15px;
  margin: 0px 0px 7px 0px;
  background-color: #fdc814;
}
#ststrip{
  width: 100%;
  height: 15px;
  margin: 100px 0px 7px 0px;
  background-color: #fdc814;
}
#footerbar{
  width: 100%;
  height: 150px;
  margin: 0px 0px 0px 0px;
  background-color: #0b3d91;
}
#footerlogo {
  margin: 30px 0px 0px 30px;
}
#footerwrappertxt{
  width: 700px;
  margin: auto;
}
.iconrow {
  width: 800px;
  height: 75px;
  margin: auto;
  white-space: nowrap;
  /*background-color: magenta;*/
}
.iconrow img{
  /*background-color: blue;*/
  display: inline;
  margin-left: 41px;
  margin-right: 41px;
}
img.center {
  margin: auto;
  display: block;
}
.center {
  text-align: center;
}
.button{
  color: white;
  font-size: 30px;
  border: none;
  background-color: rgb(146, 146, 146);
  vertical-align: middle;
  padding: 5px;
  position: relative;;
  top:45%;
}

.button:hover {
  background-color: rgb(100, 100, 100);
}

.button:active {
  background-color: rgb(209, 209, 209);
}

.buttonleft {
  left:12px;
}

.buttonright {
  left:10px;
}

.stbutton:hover{
  border-color: white;
}
